.header-menu > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu .basket{
    justify-content: flex-end;
}
.header-menu .basket svg{
    font-size: 20px;
}
.header-menu span{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo img{
    width: 70px;
    padding-bottom: 5px;
}
.main-desc{
    position: absolute;
    top: 30px;
    width: 100%;
}
.main-desc .content{
    width: 700px;
    margin: 100px;
}
.card h3{
    text-align: center;
    padding: 12px;
    font-weight: 800;
    font-family: monospace;
  }